/* General styles for the container */
.goals-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  background-color: transparent; /* Sin fondo en el contenedor */
  border-radius: 10px;
  overflow: hidden; /* Asegura que no haya desbordamiento */
}

/* Title styling */
.title-goals {
  font-size: 36px;
  color: black;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Styles for the list of goals */
.goals-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Cambia el número de columnas según el tamaño de la pantalla */
  color: black;
  gap: 20px;
  padding: 0;
  list-style: none;
}

/* Goal Card Animation */
@keyframes fadeInUp {
  0% {
    transform: translateY(30px); /* Empieza 30px debajo */
    opacity: 0; /* Empieza invisible */
  }
  100% {
    transform: translateY(0); /* Vuelve a su posición original */
    opacity: 1; /* Se vuelve completamente visible */
  }
}

/* Styles for each goal card */
.goal-card {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  animation: fadeInUp 0.5s ease-out forwards; /* Animación rápida */
  background-color: transparent; /* Sin fondo en las tarjetas */
  border: 1px solid #ddd; /* Borde sutil para las tarjetas */
}

/* Hover effect for cards */
.goal-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Goal text styling */
.goal-text {
  font-size: 18px;
  color: black;
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  text-align: left;
  margin: 0;
  font-weight: 500;
}

/* Responsive styling */
@media (max-width: 1024px) {
  .title-goals {
    font-size: 32px;
  }
  .goal-text {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .title-goals {
    font-size: 30px;
  }
  .goal-text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .goals-container {
    padding: 40px 15px;
  }
  
  .title-goals {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .goal-text {
    font-size: 14px;
  }

  .goals-list {
    grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    gap: 15px; /* Reducir el espacio entre las tarjetas */
  }

  .goal-card {
    padding: 20px;
  }
}
