/* Navbar.css */
.navbar {
    width: 100%; /* Ajustamos el ancho al 100% */
    background-color: #000000; /* Color de fondo negro */
    padding: 10px 20px; /* Espaciado interno */
    position: fixed; /* Fijo en la parte superior */
    top: 0;
    right: 0; /* Alinea el navbar a la derecha */
    display: flex;
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Alinea los items al centro verticalmente */
    z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px; /* Espaciado entre los elementos */
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-links a:hover {
    color: #ffd700; /* Color dorado cuando se pasa el ratón */
  }
  
  /* Menú hamburguesa */
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none; /* Oculta los enlaces por defecto en pantallas pequeñas */
      position: absolute;
      top: 60px; /* Mueve el menú hacia abajo */
      right: 0;
      background-color: #000000;
      width: 100%; /* Ancho del menú */
      text-align: center;
      padding: 10px 0;
    }
  
    .navbar-links.active {
      display: flex; /* Muestra los enlaces cuando el estado 'active' está activado */
      flex-direction: column; /* Alinea los elementos verticalmente */
    }
  
    .menu-icon {
      display: flex; /* Muestra el ícono del menú en pantallas pequeñas */
    }
  }
  